ul{
  list-style: none;
  background: deepskyblue;
}
a{
  text-decoration: none;
  padding: 20px;
  color: white;
  text-align: center;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue ;
}
a:hover{
  background: royalblue ;
}
a:last-child{
  border-bottom: none;
}
